<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="bootstrap/bootstrap.min.css" >
      <title>DaikoIWS-KT</title>
    </head>


    <body>

        <h1 style="text-align: center; margin-top: 5rem"><a href="/"><img src="images/daikoiws_logo.png"></a></h1>
        <hr>
        <div class="container">
        <h2 style="color: #62C15B; margin-bottom: 3rem;">Find Account Page</h2>
        
        <form  method="post" action="/findPass" >
        <div class="row g-3">
          <div class="col-12">
            <label for="user_name" class="form-label">NAME</label>
              <div class="input-group has-validation">
                <span class="input-group-text">氏名</span>
                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="田中太郎">
                <div class="invalid-feedback">
                    Your username is required.
                </div>
              </div>
            </div>

          <div class="col-12">
            <label for="user_emailAddress" class="form-label">EMAIL</label>
            <div class="input-group has-validation">
              <span class="input-group-text">メール</span>
              <input type="email" class="form-control" id="user_emailAddress" name="user_emailAddress" placeholder="you@example.com">
            </div>
          </div>

          <div class="col-12">
            <label for="user_phone" class="form-label">Phone Number</label>
            <div class="input-group has-validation">
              <span class="input-group-text">電話番号</span>
              <input type="text" class="form-control" id="user_phone" name="user_phone" placeholder="080-1234-5678">
            </div>
          </div>

            <div class="col-md-4">
                <label for="birth_year" class="form-label">年</label>
                <select class="form-select" id="birth_year" name="birth_year">
                  <option value="">年度を選択ください。</option>
                  <% for(var i=1900; i<=2100; i++) { %>
                  <option value=<%= i %>><%= i %></option>
                  <% } %>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
            </div>

            <div class="col-md-4">
              <label for="birth_year" class="form-label">月</label>
              <select class="form-select" id="birth_month" name="birth_month">
                <option value="">月を選択ください。</option>
                <% for(var i=1; i<=12; i++) { %>
                <option value=<%= i %>><%= i %></option>
                <% } %>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
          </div>

          <div class="col-md-4">
            <label for="birth_year" class="form-label">日</label>
            <select class="form-select" id="birth_date" name="birth_date">
              <option value="">日を選択ください。</option>
              <% for(var i=1; i<=31; i++) { %>
              <option value=<%= i %>><%= i %></option>
              <% } %>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
        <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" style="margin-bottom: 5rem;" type="submit">find</button>
        </form>
      </div>

    </body>
</html>